<h3 class="code-header">JS Example</h3>
<script><%= rendered_example %></script>
<div class="codeBlock jsExample">
  <div class="highlight">
    <pre class="code-example"><%= code_example %></pre>
  </div>
</div>

