<div class="codeExample">
  <% examples.each do |example| %>
    <div class="tableExample">
      <div class="exampleOutput">
        <%= example.rendered_example %>
      </div>
      <div class="codeBlock">
        <div class="highlight">
          <pre class="code-example"><%= example.code_example %></pre>
        </div>
      </div>
    </div>
  <% end %>
</div>
