/*doc
 ---
 title: Colors
 name: colors
 category: Base
 ---

 Those are the colors that you can use
<div class="clearfix">
  <div class="color-box gray-darker">
    <span>$gray-darker</span>
  </div>
  <div class="color-box gray-dark">
    <span>$gray-dark</span>
  </div>
  <div class="color-box gray">
    <span>$gray</span>
  </div>
  <div class="color-box gray-light">
    <span>$gray-light</span>
  </div>
  <div class="color-box gray-lighter">
    <span>$gray-lighter</span>
  </div>
  <div class="color-box brand-primary">
    <span>$brand-primary</span>
  </div>
  <div class="color-box brand-success">
    <span>$brand-success</span>
  </div>
  <div class="color-box brand-info">
    <span>$brand-info</span>
  </div>
  <div class="color-box brand-warning">
    <span>$brand-warning</span>
  </div>
  <div class="color-box brand-danger">
    <span>$brand-danger</span>
  </div>
</div>
 */
/*doc
 ---
 title: Colors extended
 name: colors extended
 category: Base
 ---

 Those are the colors that you can use
<div class="clearfix">
  <div class="color-box gray-lightest">
    <span>$gray-lightest</span>
  </div>
  <div class="color-box white">
    <span>$white</span>
  </div>
</div>
 */
body {
  padding-bottom: 60px; }

/* style nav specific - Temporary until we have the navigation implemented in our bootstrap theme */
nav.navbar .navbar-header {
  margin: 15px; }

/* end temporary styling of our navigation*/
.styleguide-example {
  padding: 15px;
  background-color: #f1f1f1; }
  .styleguide-example.light {
    background-color: #fff; }
  .styleguide-example.dark {
    background-color: #333; }

.color-box {
  width: 150px;
  height: 150px;
  margin: 0 15px 15px 0;
  padding: 15px;
  display: block;
  float: left; }
  .color-box span {
    padding: 15px;
    display: inline-block;
    background: #fff; }

.gray-darker {
  background: #222222; }

.gray-dark {
  background: #333333; }

.gray {
  background: #666666; }

.gray-light {
  background: #999999; }

.gray-lighter {
  background: #eeeeee; }

.gray-lightest {
  background: #f9f9f9; }

.white {
  background: white;
  border: 1px solid black;
  color: black; }

.brand-primary {
  background: #f1f1f1; }

.brand-success {
  background: #9bb83c; }

.brand-info {
  background: #389bca; }

.brand-warning {
  background: #caca17; }

.brand-danger {
  background: #e53221; }

.button-demo-column {
  display: table-cell;
  padding-right: 15px; }
