<h2>JSX Example</h2>
<script type='text/jsx'><%= rendered_example %></script>
<div class="codeBlock jsExample">
  <div class="highlight">
    <pre class="code-example"><%= code_example %></pre>
  </div>
</div>

