<!doctype html>
<html>
  <head>
    <title>Mynewsdesk Style Guide: <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="dist/mnd-bootstrap.css">
    <link rel="stylesheet" href="styleguide.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="inner">
      <nav id="top-nav" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
          <img alt="Logotype" class="logo" src="logotype.png">
        </div>
        <ul class="nav navbar-nav">
          <% @categories.each do |category, file_name| %>
            <li><a href="<%= file_name %>"><%= category %></a></li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="container-fluid">
      <section class="content">
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <span class="package-info">Version <%= require "JSON"; JSON.parse(File.read("./package.json"))["version"] %></span>
