@import "../src/mnd-bootstrap/variables";
@import "../src/mnd-bootstrap/variables_extended";
@import "./styleguide-base";
@import "./github.css";
$sg-default-space: 15px;

body{
  padding-bottom: ceil($sg-default-space * 4);
}

.color-box {
  width: 150px;
  height: 150px;
  margin: 0 $sg-default-space $sg-default-space 0;
  padding: $sg-default-space;
  display: block;
  float: left;

  span {
    padding: $sg-default-space;
    display: inline-block;
    background: #fff;
  }
}

.gray-darker {
  background: $gray-darker;
}
.gray-dark {
 background: $gray-dark;
}
.gray {
  background: $gray;
}
.gray-light {
  background: $gray-light;
}
.gray-lighter {
  background: $gray-lighter;
}
.gray-lightest {
  background: $gray-lightest;
}
.white {
  background: $white;
  border: 1px solid black;
}
.brand-primary {
  background: $brand-primary;
}
.brand-success {
  background: $brand-success;
}
.brand-info {
  background: $brand-info;
}
.brand-warning {
  background: $brand-warning;
}
.brand-danger  {
  background: $brand-danger;
}

.button-demo-column {
  display: table-cell;
  padding-right: 15px;
}
